.gray_background
  .wrapper.center
    %h2= @campaign.name
  .wrapper.clearfix
    #video
      - if Settings.use_video_placeholder
        #video_image
          %img{:alt => "video_place_holder", :height => "385px", :src => "/assets/campaign.jpg", :width => "512px"}/
        #player.hidden{:style => "display: none;"}
          %object{:height => "385", :width => "512"}
            %param{:name => "movie", :value => "#{Settings.video_embed_url}?autohide=1=0=0=1"}/
            %param{:name => "allowFullScreen", :value => "true"}/
            %param{:name => "allowscriptaccess", :value => "always"}/
            %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :height => "385", :src => "#{Settings.video_embed_url}?autohide=1=0=0=1", :type => "application/x-shockwave-flash", :width => "512"}
      - else
        %iframe{:height => "385", :src => video_url, :width => "512"}
    #backing
      %ul
        %li#backers.stats
          = number_with_delimiter Order.backers, :delimiter => ","
          %span= Settings.primary_stat
        %li.stats
          = humanized_money_with_symbol(@campaign.pledged_amount)
          %span
            of #{humanized_money_with_symbol(@campaign.goal)}
        %li#days.stats
          = distance_of_time_in_words_to_now(@campaign.deadline).gsub(/\D/, "")
          %span
            = distance_of_time_in_words_to_now(@campaign.deadline).gsub(/\d/, "").gsub("about", "")
            left
      - if @campaign.pledged_amount < @campaign.goal
        #progress_bg.small
          #progress{:style => "width: #{@campaign.pledged_percentage}%;"}
      - else
        #progress_bg
          #progress
          #progress_text
            = @campaign.pledged_percentage
            \% Funded
      .campaign_summary
        %h5= @campaign.brewery.name.upcase
        %p= "#{@campaign.brewery.rating} ⭐️"
        %p= @campaign.brewery.short_description

- @campaign.beers.each do |beer|
  .big_wrapper
    .wrapper
      %h5= "🍺 #{beer.name}"
      %p Super fancy beer, you'll like it for sure!!!

#cheer-with-us.gray_background
  .wrapper.center
    %h3 Cheer with us
  %ul.wrapper.clearfix
    - @campaign.cheers.each_with_index do |cheer, i|
      = link_to new_campaign_cheer_cheer_order_path(@campaign, cheer) do
        %li{id: "section-#{i + 1}"}
          %b= "#{cheer.title} - #{humanized_money_with_symbol(cheer.value)}"
          %p= cheer.description
