.gray_background
  .wrapper.center
    %h2= @campaign.name
  .wrapper.clearfix
    #video
      - if Settings.use_video_placeholder
        #video_image
          %img{:alt => "video_place_holder", :height => "385px", :src => "/assets/campaign.jpg", :width => "512px"}/
        #player.hidden{:style => "display: none;"}
          %object{:height => "385", :width => "512"}
            %param{:name => "movie", :value => "#{Settings.video_embed_url}?autohide=1=0=0=1"}/
            %param{:name => "allowFullScreen", :value => "true"}/
            %param{:name => "allowscriptaccess", :value => "always"}/
            %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :height => "385", :src => "#{Settings.video_embed_url}?autohide=1=0=0=1", :type => "application/x-shockwave-flash", :width => "512"}
      - else
        %iframe{:height => "385", :src => video_url, :width => "512"}
    #backing
      %ul
        %li#backers.stats
          = number_with_delimiter Order.backers, :delimiter => ","
          %span= Settings.primary_stat
        %li.stats
          = number_to_currency Order.revenue, :precision => 0
          %span
            of #{humanized_money_with_symbol(@campaign.goal)}
        %li#days.stats
          = distance_of_time_in_words_to_now(@campaign.deadline).gsub(/\D/, "")
          %span
            = distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\d/, "").gsub("about", "")
            left
      - if Order.revenue.to_f < Order.goal.to_f
        #progress_bg.small
          #progress{:style => "width: #{Order.percent}%;"}
      - else
        #progress_bg
          #progress
          #progress_text
            = Order.percent
            \% #{Settings.progress_text}
      .campaign_summary
        .block
          %p= @campaign.brewery.name
          %p= @campaign.brewery.rating
          %p= @campaign.brewery.short_description
        .block
          %p Our sponsors

- @campaign.beers.each do |beer|
  .big_wrapper
    #one.wrapper
      .point_copy
        %h3= beer.name
        %p= beer.description

.gray_background
  .wrapper.center
    %h3 Cheer with us
  %ul#other_points.wrapper.clearfix
    - @campaign.cheers.each_with_index do |cheer, i|
      %li{id: "section-#{i + 1}"}
        %h4= cheer.title
        %b= humanized_money_with_symbol(cheer.value)
        %p= cheer.description
