!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= Settings.product_name
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
  /[if lt IE 9 ] <body class="lt-ie9">
  / [if (gt IE 9)|!(IE)]><!
  %body
    / <![endif]
    .container-fluid
      .jumbotron
        %h1
          = link_to("BrewAngels", root_path)
      .gray_background
        = yield
    = render 'preorder/footer'

